<% provide(:title, 'Add Fund') %>

<div class="container">
<h1 class="result-text">Add Funds</h1>
<hr size="2px" width="100%" color="#000">

  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @resource do |f| %>
      <span class="field"> <%= f.label :title, 'Fund Name' %> </span>
      <%= f.input :title, label: false %>
      <span class="field"><%= f.label :contact_person, 'Fund Owner/Contact Person' %></span>
      <%= f.input :contact_person, label: false %>
      <span class="field"><%= f.label :source, 'Department/Fund Source' %></span>
      <%= f.input :source, label: false %>
      
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
