<% provide(:title, 'Add Fund') %>

<div class="container">
<h1 class="result-text">Add Funds</h1>
<hr size="2px" width="100%" color="#000">


<div class="col-md-6 col-md-offset-3">
  <%= form_with(model: @resource, local: true) do |f| %>
  <%= render 'devise/shared/error_messages' %>
    
    <span class="field"> <%= f.label :title %> </span>
    <%= f.text_field :title, class: 'form-control' %>
    
    <span class="field"><%= f.label "#{ :contact_person } (Fund Owner)" %></span>
    <%= f.text_field :contact_person, class: 'form-control' %>
      
    <span class="field"><%= f.label :source %></span>
    <%= f.text_field :source, class: 'form-control' %>
      
    <span class="field"><%= f.label :email %></span>
    <%= f.text_field :email, class: 'form-control' %>
    
    &nbsp;
      
    <div><%= f.submit "Submit Resource", class: 'btn btn-primary' %></div>
  <% end %>
  </div>
</div>
