<% provide(:title, 'Add Fund') %>
<h1>Add Fund</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @resource, local: true) do |f| %>
    <%= render 'devise/shared/error_messages' %>
    
      <%= f.label 'Fund Name' %>
      <%= f.text_field :title, class: 'form-control' %>
    
      <%= f.label 'Fund Owner/Contact Person' %>
      <%= f.text_field :contact_person, class: 'form-control' %>
      
      <%= f.label 'Department/Fund Source' %>
      <%= f.text_field :source, class: 'form-control' %>
      
      <%= f.submit "Submit Resource", class: "btn btn- primary" %>
    <% end %>
  </div>
</div>