<div class="container">

    <h1 class="result-text"><%= @resource.title %></h1>
    <hr size="2px" width="100%" color="#000"> 
    
    <%#= this makes the card on the far right side of the page. the card shows contact info %>
        <div class="float-right">
            <div class = "col-rg-20 col-md-20 col-sm-12 mb-3", align = "center">
                <div class="card" style="height: 275px;">
                    <div class="card-body" style="background-color: grey;">
                        <% if @resource.contact_person %>
                        <h3 class="card-result-text"><div class="card">Fund Owner:</div> <span class="result-text"><%= @resource.contact_person %></span></h3>
                        <% end %>
                        
                        <% if @resource.email %>
                        <h3 class="card-result-text"><span class="card">Email:</span> <span class="result-text"><%= @resource.email %></span></h3>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    
    <% if @resource.amount.empty? %>
        <h3 class="result-text"><span class="field">Amount:</span> N/A</h3>
    <% else %>
        <h3 class="result-text"><span class="field">Amount:</span> $<%= @resource.amount %> </h3>
    <% end %>
    
    <% if @resource.source.empty? %>
        <h3 class="result-text"><span class="field">Source:</span> N/A</h3>
    <% else %>
        <h3 class="result-text"><span class="field">Source:</span> <%= @resource.source %> </h3>
    <% end %>
    
    <% if @resource.requirements.nil? %>
        <h3 class="result-text"><span class="field">Requirements:</span> None</h3>
    <% else %>
        <h3 class="result-text"><span class="field">Requirements:</span> <%= @resource.requirements %></h3>
    <% end %>
    
    
    <% if @resource.criteria.nil? %>
        <h3 class="result-text"><span class="field">Criteria:</span> None</h3>
    <% else %>
        <h3 class="result-text"><span class="field">Criteria:</span> <%= @resource.criteria %></h3>
    <% end %>
    
    <% if @resource.description.empty? %>
        <h3 class="result-text"><div class="field">Description:</div> <br/> &nbsp; <span class="description">No description provided.</span></h3>
    <% else %>
        <h3 class="result-text"><div class="field">Description:</div> <br/> &nbsp; <span class="description"><%= @resource.description %></span></h3>
    <% end %>
    
    <%= link_to "Fund Website", "#{@resource.web}", class: "btn btn-primary", :target => "_blank"  %>
</div>
